<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white!">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-semibold text-blue-500">Register</h1>
        </div>
        <app-text-input label="First Name" formControlName="firstName" />
        <app-text-input label="Last Name" formControlName="lastName" />
        <app-text-input label="Email Address" formControlName="email" type="email" />
        <app-text-input 
            label="Password"
            formControlName="password" 
            [type]="passwordVisible ? 'text' : 'password'"
            [withIcon]="true"
        >
            <div class="absolute inset-y-0 top-1 right-1 flex items-center">
                <button mat-icon-button type="button" (click)="togglePasswordVisibility()">
                    <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
        </app-text-input>
        <app-text-input 
            label="Confirm Password"
            formControlName="confirmPassword" 
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            [withIcon]="true"
        >
            <div class="absolute inset-y-0 top-1 right-1 flex items-center">
                <button mat-icon-button type="button" (click)="toggleConfirmPasswordVisibility()">
                    <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </div>
        </app-text-input>
        @if (validationErrors() && validationErrors().length > 0) {
            <div class="text-red-600 mb-4 p-4 bg-red-100">
                <ul class="list-disc px-3">
                    @for (error of validationErrors(); track $index) {
                    <li>{{ error }}</li>  
                }
                </ul>
            </div>
        }
        <button mat-flat-button type="submit" class="w-full py-2" [disabled]="registerForm.invalid">Register</button>
    </form>
</mat-card>