<header class="shadow-md p-3 w-full h-18 fixed top-0 bg-white z-50">
  <div class="flex items-center justify-between mx-auto">
    <img routerLink="/shop" src="images/logo.png" alt="app logo" class="max-h-12 cursor-pointer" />
    <div class="flex items-center gap-3">
        <a matBadge="{{ cartService.itemCount() }}" matBadgeSize="large" class="custom-badge mt-2 mr-2" routerLink="/cart" routerLinkActive="active">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        @if (accountService.currentUser()){
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>arrow_drop_down</mat-icon>
            <span>{{ accountService.currentUser()?.email }}</span>
          </button>
        } @else {
          <button mat-stroked-button routerLink="/account/login">Login</button>
          <button mat-stroked-button routerLink="/account/register">Register</button>
        }
    </div>
  </div>
</header>

<mat-progress-bar
  mode="indeterminate"
  class="fixed top-18 z-50"
  [style.opacity]="busyService.loading() ? 1 : 0">
</mat-progress-bar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cart" class="px-6!">
    <mat-icon>shopping_cart</mat-icon>
    <span>My Cart</span>
  </button>
  <button mat-menu-item routerLink="/orders" class="px-6!">
    <mat-icon>history</mat-icon>
    <span>My Orders</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()" class="px-6!">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
